---
layout: archive
---

  <!-- En-tête avec une image d'arrière-plan et overlay -->
  <header class="header-banner" style="background-image: url('/file/fig_banniere.jpeg'); background-color: rgba(0, 0, 0, 0.5); background-blend-mode: multiply;">
    <div class="header-content">
      <!-- Contenu de votre en-tête, comme un titre ou autre -->
      <h1>Homepage</h1>
    </div>
  </header>

  
{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<h1>Presentation</h1>
<p>I’m a PhD student at LEGI and IGE (Grenoble, France) under Joel Sommeria and Bruno Deremble supervision. My field of study is geophysical fluid dynamics, and my thesis focuses on the modeling of ocean convection on the Coriolis platform.</p>

<h2>Current project</h2>
<p>We explore the different regimes of convection as a function of the two major variables in geophysical fluids, namely rotation (through the Coriolis effect) and stratification. We also explore the influence of wind-induced stress.</p>

<figure>
  <img src="/file/KP-nice_plot-EXP15.jpeg" alt="Visualisation of entrainment in a spin up experiment on the Coriolis platform (LEGI)">
  <figcaption>Visualisation of entrainment in a spin up experiment on the Coriolis platform (LEGI). The figure shows the particles and a fluorescent dye.</figcaption>
</figure>


<p>My study is based on a number of themes:</p>
<ul>
  <li><strong>Turbulence in convection:</strong> How does turbulent kinetic energy evolve in a convective plume and in the mixing layer? Refinement of turbulence parameterization and turbulent closure models.</li>
  <li><strong>The organization of convection:</strong> In this part, I am interested in the coherent structures that can be observed in convection (plumes, cones, cells, convective vortices) and how these structures are affected by the different convection regimes.</li>
  <li><strong>Experimental observation methods:</strong> We are exploring new methods in order to perform temperature field measurements with the T-LIF.</li>
</ul>





